@import "./global.scss";


.input {
  flex: 1;
  height: 100%;
  outline: unset;
  border: 1px solid #a2a9b1;
  border-right: unset;
  border-radius: unset;
  text-indent: 10px;
  &:focus {
    border: 1px solid $primary;
    border-right: unset;
  }
}


.searchInput{
   position: relative;
   height: 100%;
   flex: 1;
   display: flex;
}

.searchButton {
  width: 40px;
  height: 100%;
  background: $primary;
  border: unset;
  color: white;
}



.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  position: relative;
  z-index: 9;
}

.results {
  position: absolute;
  left: 0;
  top: 100%;
  width: calc(100% - 40px);
  border: 1px solid #a2a9b1;
  border-top: unset;
  background: white;
}

.result {
  width: 100%;
  display: flex;
  min-height: 60px;
  padding: 0px 15px;
  align-items: center;
  border-bottom: 1px solid #eaecf0;
  cursor: pointer;
  transition: 0.2s all;
  &:hover {
    background: $hover;
  }
  p{
    font-size: 14px;
  }
}


.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 7px;
  height: 20px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}


.gridContainer {
    width: 100%;
    max-width: 800px;
    padding: 0px 50px;
    margin-left: auto;
    margin-right: auto;

}


.layout {
    @extend .gridContainer;
    padding-top: 100px;
}


