.navbar {
  background: white;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  &-content{
    @extend .grid;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    gap: 30px;
  }
  &-search{
    max-width: 400px;
    width: 100%;
    .search{
        height: 45px;
    }
  }
  &-logo{

  }
}


.container {
  border: 1px solid rgb(224, 224, 224);
  box-shadow: rgba(114, 138, 150, 0.08) 0px 2px 16px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}



@import "./global.scss";

.input {
  flex: 1;
  height: 100%;
  border-right: unset;
  border-radius: 10px;
  text-indent: 10px;
  border: unset;
  outline: none;
  color: $textColor;
  font-size: 17px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  position: relative;
  z-index: 9;
}

.inputContainer {
  position: relative;
  height: 100%;
  flex: 1;
  display: flex;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-right: unset;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.searchButton {
  width: 50px;
  height: 100%;
  background: $primary;
  border: unset;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container {
  border: 1px solid rgb(224, 224, 224);
  box-shadow: rgba(114, 138, 150, 0.08) 0px 2px 16px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}



.results {
  position: absolute;
  left: 0;
  top: calc(100% + 2px);
  width: 100%;
  border: 1px solid #a2a9b1;
  background: white;
  border-radius: 10px;

  z-index: 10;
  max-height: 40vh;
  overflow: auto;
}

.results-loader{
    .circle {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
}

.result {
  width: 100%;
  display: flex;
  min-height: 60px;
  padding: 10px;
  border: unset;
  align-items: center;
  border-bottom: 1px solid #eaecf0;
  cursor: pointer;
  background: transparent;
  transition: 0.2s all;
  &:hover {
    background: $hover;
  }
}

.resultImg {
  width: 50px;
  height: 50px;
  background: lightgray;
  object-fit: cover;
}

.resultContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  width: calc(100% - 50px);
  padding-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.resultContentDescription {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-size: 15px;
}

.resultContentTitle {
  width: 100%;
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 7px;
  height: 20px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}







.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: $primary transparent $primary transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
