.loaderContaier {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}



.layout {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}


.content {
  p {
    line-height: 28px;
    font-size: 16px;
  }
}