name: Deploy Next.js to Google Cloud Functions

on:
  push:
    branches:
      - main # Replace 'main' with your default branch name if different

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - id: 'auth'
      uses: 'google-github-actions/auth@v1'
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

    - id: 'deploy Next.js'
      uses: 'google-github-actions/deploy-cloud-functions@v1'
      with:
        name: 'nextjs'
        runtime: 'nodejs16'
        entry_point: 'handler'